@*<!DOCTYPE html> = Instruction to the web browser about what version of HTML: current version is HTML5.*@
<!DOCTYPE html>
<html>
<head>
    @*Encoding type for HTML page as "Universal Character Set Transformation Format - 8 bits"*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*Settings for adaptative design & zoom level*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modells</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Start Of Header*@
    <header>Header For Modells</header>
    @*End Of Header*@
    @*Star Of Navigation Bar*@
    <nav class="navbar border border-light bg-transparent">
        @*Display the logo*@
        <a class="navbar-brand" href="#">
            <img src="~/Content/Images/modells.jpg" width="205" height="55" class="d-inline-block align-top" alt="modells">
        </a>
        Hello I Am The Nav Bar !
    </nav>
    @*End Of Navigation Bar*@
    @*Star Of Main Content*@
    <main class="container body-content">
        @RenderBody()
    </main>
    @*End Of Main Content*@
    @*Start Of Footer*@
    <footer>
        &copy; @DateTime.Now.Year - Modells
    </footer>
    @*End Of Footer*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
