<!--<!DOCTYPE html> = Instruction to the web browser about what version of HTML: current version is HTML5.-->
<!DOCTYPE html>
<html>
<head>

    <!--Encoding type for HTML page as "Universal Character Set Transformation Format - 8 bits" :-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <!--Settings for adaptative design & zoom level :-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Load CSS for FontAwesome Icons :-->
    <link href="~/Content/Icons/css/all.css" rel="stylesheet">
    <title>@ViewBag.Title - Modells</title>

    <!--Load the CSS bundles styles :-->
    @Styles.Render("~/Content/css")

    <!--Load the modernizr / jquery / popper bundles scripts.-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <!--Header :-->
    <header class="bg-transparent border border-dark">
        Header For Modells
    </header>

    <!--Navigation Bar :-->
    <nav class="navbar-expand-lg border border-light">

        <!--Application Logo :-->
        <img src="~/Content/Images/Logos/modells.jpg" class="btn border border-light logobrand" alt="modells" />

        <!--Home button :-->
        <button type="button" class="btn border border-light nav-item m-2 hovering" onclick="location.href='@Url.Action("pictureHome", "Pictures")'" data-toggle="tooltip" data-placement="bottom" title="Accueil">
            <i class="fas fa-home"></i>
        </button>

        <!--Collection button :-->
        <button type="button" class="btn border border-light nav-item m-2 hovering" onclick="location.href='@Url.Action("pictureCollection", "Pictures")'" data-toggle="tooltip" data-placement="bottom" title="Collection">
            <i class="far fa-images"></i>
        </button>

        <!--Add picture button :-->
        <button type="button" class="btn border border-light nav-item m-2 hovering" onclick="location.href='@Url.Action("pictureCreate", "Pictures")'" data-toggle="tooltip" data-placement="bottom" title="Ajouter image">
            <i class="far fa-image"></i>
        </button>

        <!--Search bar :-->
        @*<form class="form-inline btn nav-item m-2 float-right" action="">
            <input class="form-control" type="text" placeholder="Recherche">
            <button class="btn btn-light" type="submit">
                Recherche
            </button>
        </form>*@

    </nav>

    <!--Main Content :-->
    <main class="border border-light">
        @RenderBody()
    </main>

    <!--Footer :-->
    <footer class="border border-light">
        &copy; @DateTime.Now.Year - Modells
    </footer>

</body>
</html>