@using globalLabels = Modells.Models.pictureGlobalLabels;
<!--<!DOCTYPE html> = Instruction to the web browser about what version of HTML: current version is HTML5.-->
<!DOCTYPE html>
<html>
<head>

    <!--Encoding type for HTML page as "Universal Character Set Transformation Format - 8 bits" :-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <!--Settings for adaptative design & zoom level :-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Load CSS for FontAwesome Icons :-->
    <link href="~/Content/Icons/css/all.css" rel="stylesheet">
    <title>@ViewBag.Title - Modells</title>

    <!--Load the CSS bundles styles :-->
    @Styles.Render("~/Content/css")

    <!--Load the modernizr / jquery / popper bundles scripts.-->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        // Css Templates :

        var navBarCss = "navbar-expand-lg border border-light sticky-top container-fluid";

        var btnNormNav = "btn nav-item col-1 d-inline-block my-0 logobrand";

        var btnMiniNav = "btn nav-item col-2 d-inline-block my-0 logobrand";

        var imgLogoCss = "img-fluid col-3 d-inline-block my-0 border border-light logobrand";

        // Global labels & titles :

        //var headerPictureCss = "img-fluid col-2 d-inline-block p-0 mt-0";
        var addPic = globalLabels.AddPicture;
        var homePic = globalLabels.collHome;
        var collPic = globalLabels.collPicture;

        // Src Url :
        var normLogo = globalLabels.NormLogoPictureUrl;
        var miniLogo = globalLabels.MiniLogoPictureUrl;

        // Navigation Url :
        var urlHome = @Url.Action("pictureHome", "Pictures");
        var urlCollPic = @Url.Action("pictureCollection", "Pictures");
        var urlAddPic = @Url.Action("pictureCreate", "Pictures");

    }

</head>
<body>
    <!--Header :-->
    <header class="bg-transparent text-light border border-right">
        hello i'm the header !
    </header>

    <!--Normal Navigation Bar :-->
    <nav class="@navBarCss" id="normalNavBar">

        <div class="row logobrand">

            <!--Application Logo :-->
            <img src="@normLogo" class="@imgLogoCss" alt="modells" />

            <!--Home button :-->
            <button type="button" class="@btnNormNav hovering" onclick="location.href='@urlHome'" title="@homePic">
                <i class="fas fa-home"></i>
            </button>

            <!--Collection button :-->
            <button type="button" class="@btnNormNav removing" onclick="location.href='@urlCollPic'" title="@collPic">
                <i class="far fa-images"></i>
            </button>

            <!--Add picture button :-->
            <button type="button" class="@btnNormNav adding" onclick="location.href='@urlAddPic'" title="@addPic">
                <i class="far fa-image"></i>
            </button>
        </div>
    </nav>

    <!--Mini responsive navigation Bar :-->
    <nav class="@navBarCss" id="responsiveNavBar">

        <div class="row logobrand">

            <!--Application Logo :-->
            <img src="@miniLogo" class="@imgLogoCss" alt="modells" />

            <!--Home button :-->
            <button type="button" class="@btnMiniNav hovering" onclick="location.href='@urlHome'" title="@homePic">
                <i class="fas fa-home"></i>
            </button>

            <!--Collection button :-->
            <button type="button" class="@btnMiniNav removing" onclick="location.href='@urlCollPic'" title="@addPic">
                <i class="far fa-images"></i>
            </button>

            <!--Add picture button :-->
            <button type="button" class="@btnMiniNav adding" onclick="location.href='@urlAddPic'" title="@addPic">
                <i class="far fa-image"></i>
            </button>
        </div>
    </nav>

    <!--Main Content :-->
    <main class="border border-light">
        @RenderBody()
    </main>

    <!--Footer :-->
    <footer class="border border-light container-fluid text-light">
        <div class="row align-items-center text-center border logobrand d-flex">
            <div class="col-sm-4 col-md-3 col-lg-3 d-sm-flex d-md-flex d-lg-flex">
                &copy; @DateTime.Now.Year - Modells
            </div>
            <div class="col-md-3 col-lg-3 d-none d-md-flex d-lg-flex">
                Mentions Légales
            </div>
            <div class="col-md-6 col-lg-6 col-sm-4 d-sm-flex d-md-flex d-lg-flex btn-group border border-primary justify-content-end" role="group" aria-label="Basic example">
                <button type="button" class="btn text-light">
                    Left
                </button>
                <button type="button" class="btn text-light">
                    Middle
                </button>
                <button type="button" class=" btn text-light">
                    Right
                </button>
            </div>
        </div>
    </footer>

</body>
</html>