@model Modells.Models.Picture
@{
    ViewBag.Title = "Home Page";
    var colcss = "col-md-3 p-2 bg-info border border-dark d-flex align-items-center justify-content-center";
    var imgCss = "card-img img-fluid img-thumbnail d-block mx-auto";

}
@*@Html.ActionLink("To The Test Page", "Test")*@
@*<div class="cadre">
        <div class="picture" style="background-image: url('@Model.pictureStandardSizeUrl');">this is the image !</div>
        <div class="tagExifs"><button type="button" class="btn btn-primary">carre1<i class="fas fa-search-plus"></i></button></div>
        <div class="tagZoom">carre2</div>
        <div class="tagGet">carre3</div>
        <div class="tagStats">carre4</div>
    </div>*@
    <div class="container-fluid bg-warning p-4 d-table-cell">
        @*<img src="~/Content/Images/kitten.jpg" class="img-fluid d-block mx-auto" />
        <img src="~/Content/Images/kitten.jpg" class="img-fluid d-block mx-auto" />*@
        <div class="row p-2">
            <div class="@colcss">
                <div class="card">
                    <img src="~/Content/Images/kitten.jpg" class="@imgCss" />
                    <div class="card-img-overlay">
                        <button class="btn details"><i class="fas fa-eye"></i></button>
                    </div>
                 </div>
            </div>
            <div class="@colcss"><img src="~/Content/Images/church.jpg" class="@imgCss" /></div>
            <div class="@colcss"><img src="~/Content/Images/sky.jpg" class="@imgCss" /></div>
            <div class="@colcss"><img src="~/Content/Images/auto.jpg" class="@imgCss" /></div>
        </div>
        <div class="row p-2">
            <div class="@colcss"><img src="~/Content/Images/cat.jpg" class="@imgCss" /></div>
            <div class="@colcss"><img src="~/Content/Images/autumn.jpg" class="@imgCss" /></div>
            <div class="@colcss"><img src="~/Content/Images/web.jpg" class="@imgCss" /></div>
            <div class="@colcss"><img src="~/Content/Images/maldives.jpg" class="@imgCss" /></div>
        </div>
    </div>
@*<div class="container-fluid">
        <div class="card">
            <div class="card-header">Header</div>

            <div class="card-body" style="background-image: url('../Content/Images/kitty.jpg'); background-repeat: no-repeat; background-size:contain*;">Content</div>
            <div class="card-footer">Footer</div>
        </div>
    </div>*@
