@model Modells.Models.Picture
@{
    ViewBag.Title = "Home Page";

    @*class template for the column*@
    var colcss = "col-md-3 p-2 bg-info border border-dark d-flex align-items-center justify-content-center";

    @*class template for the picture*@
    var imgCss = "card-img img-fluid img-thumbnail d-block mx-auto";
}
@Html.ActionLink("To The Test Page", "Test")
@Html.ActionLink("Details", "pictureDetails")

<script>
    $(document).ready(function () {
        $(".details").click(function () {

            // Get picture source to display in the modal :
            var url = $(this).parent().prev().attr("src");

            // Display the selected image in the modal :
            var dis = $(".displayPicture").attr("src", url);

            // Check if src is correct :
            console.log(dis);
        });
    });
</script>

@*One fluid container of 2 rows & 4 columns*@
<div class="container-fluid bg-warning p-4 d-table-cell">
    @*First row of 4 pictures*@
    <div class="row p-2">
        @*1st column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/kitten.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*2nd column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/church.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*3rd column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/sky.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*4th column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/auto.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*Second row of 4 pictures*@
    <div class="row p-2">
        @*1st column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/cat.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*2nd column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/autumn.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*3rd column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/web.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*4th column*@
        <div class="@colcss">
            <div class="card">
                <img src="~/Content/Images/maldives.jpg" class="@imgCss" />
                <div class="card-img-overlay">
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/pictureDetails.cshtml");