@model Modells.picture

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>picture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pictureTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureAlternateTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureAlternateTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureStandardUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureStandardUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureRatingValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureRatingValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pictureViewsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pictureViewsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.categoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pictureId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
