@model IEnumerable<Modells.picture>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Class template for the column :
    var colcss = "col-md-3 p-2 bg-info border border-dark d-flex align-items-center justify-content-center";

    // Class template for the picture :
    var imgCss = "card-img img-fluid img-thumbnail d-block mx-auto";

    // Total pictures to display :
    var totalPictures = ViewBag.totalPictures;

    var indexLimit = totalPictures - 1;

    // Table of pictures to display  :
    var pictureElements = new string[8,3];

    for (int index = 0; index <= 7; index++)
    {

        var pictureUrlToLoad = (index <= indexLimit) ? Model.ElementAt(index).pictureStandardUrl : null;

        if (pictureUrlToLoad != null)
        {
            // Load the picture of database :
            
            // Url :
            pictureElements[index,0] = "/Content/Images/Pictures/" + @Html.DisplayFor(model => model.ElementAt(index).pictureStandardUrl);
            
            // Title :
            pictureElements[index,1] = @Html.DisplayFor(model => model.ElementAt(index).pictureTitle).ToString();
            
            // Alternative title :
            pictureElements[index,2] = @Html.DisplayFor(model => model.ElementAt(index).pictureAlternateTitle).ToString();
        }

        else
        {
            // Load the default picture if database ones not exists :
            pictureElements[index,0] = "/Content/Images/Pictures/smile.jpg";
            pictureElements[index,1] = "Default picture";
            pictureElements[index,2]  = "Default picture";
        }

    }

}
@Html.ActionLink("To The Test Page", "Test")
@Html.ActionLink("Details", "pictureDetails")
@Html.ActionLink("CreatePics", "Create")
@Html.ActionLink("List", "Index2", "pictures")


<script>
    $(document).ready(function () {
        $(".details").click(function () {

            // Get picture source to display in the modal :
            var url = $(this).parent().prev().attr("src");

            // Display the selected image in the modal :
            var dis = $(".displayPicture").attr("src", url);

            // Check if src is correct :
            console.log(dis);
        });
    });
</script>

@*One fluid container of 2 rows & 4 columns*@
<div class="container-fluid bg-warning p-4 d-table-cell">
    @*First row of 4 pictures*@
    <div class="row p-2">
        @*1st column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[0,0]" alt="@pictureElements[0,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[0, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*2nd column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[1,0]"  alt ="@pictureElements[1,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[1, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*3rd column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[2,0]"  alt ="@pictureElements[2,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[2, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*4th column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[3,0]"  alt ="@pictureElements[3,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[3, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*Second row of 4 pictures*@
    <div class="row p-2">
        @*1st column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[4,0]" alt="@pictureElements[4,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[4, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*2nd column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[5,0]"  alt ="@pictureElements[5,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[5, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*3rd column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[6,0]"  alt ="@pictureElements[6,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <h5 class="card-title">@pictureElements[6, 1]</h5>
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        @*4th column*@
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[7,0]"  alt ="@pictureElements[7,1]" class="@imgCss" />
                @*<img src="~/Content/Images/Pictures/@Html.DisplayFor(model => model.ElementAt(7).pictureStandardUrl)" class="@imgCss" />*@
            <div class="card-img-overlay">
                <h5 class="card-title">@pictureElements[7, 1]</h5>
                <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                    <i class="fas fa-eye"></i>
                </button>
            </div>
            </div>
        </div>
    </div>
</div>

@*Enable Pagination*@
@for (int page = 1; page <= ViewBag.totalPages; page++)
{

    @Html.ActionLink("Page n° " + page, "Index2", new { pageToDisplay = page })
}

@*Loading the partial view to display the modal :*@
@Html.Partial("~/Views/Home/pictureDetails.cshtml");