@model IEnumerable<Modells.Models.picture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureAlternateTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureStandardUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureRatingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pictureViewsNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureAlternateTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureStandardUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureRatingValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pictureViewsNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pictureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.pictureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pictureId })
        </td>
    </tr>
}

</table>
