@model IEnumerable<Modells.Models.picture>
@using globalLabels = Modells.Models.pictureGlobalLabels;

@{
    ViewBag.Title = "pictureDetails";

    // Class templates for the picture details :
    var textLight = "text-light";
    var imgDispCss = "img-fluid img-thumbnail d-block mx-auto displayPicture";
    var btnDetailsCss = "btn text-light removeFocus";
    var btnCloseSm = "closing mx-auto d-block d-sm-none";
    var btnCloseMd = "closing mr-0 d-none d-sm-block d-md-block d-lg-block";
    var btnExifsAttr = "data-toggle = popover data-trigger = hover data-placement = top title = Données&nbsp;Exifs";
    var btnLegendAttr = "data-toggle = popover data-trigger = hover data-placement = top title = Legende&nbsp;Exifs";

    // Class templates for the modal details :

    var mDetMn = "modal bg-transparent";
    var mDetCn = "modal-dialog modal-dialog-centered modal-xl";
    var mDetCt = "modal-content bg-transparent";
    var mDetHd = "modal-header bg-transparent align-items-center justify-content-between d-flex";
    var mDetTt = "modal-title d-inline-flex justify-content-between";
    var mDetBd = "modal-body bg-transparent d-inline-flex justify-content-center";
    var mDetFt = "modal-footer justify-content-between";

    // Class templates for the modal delete :

    var mDelMn = "modal fade bg-transparent";
    var mDelCn = "modal-dialog modal-dialog-centered";
    var mDelCt = "modal-content border border-light delModal";
    var mDelHd = "modal-header p-2 d-block text-light text-center";
    var mDelBd = "modal-body d-block";
    var miniDel = "d-block mx-auto displayPicture smallDelPic";

    // Global labels & titles :

    var edPic = globalLabels.EditPicture;
    var delPic = globalLabels.DelPicture;
    var delThis = globalLabels.RemovePicture;
    var delT = globalLabels.Delete;
    var backT = globalLabels.Back;

}

<!--*** PICTURE DATA DISPLAY ***-->
<!--Modal to display picture details-->
<div class="@mDetMn" id="showPictureDetails" tabindex="-1" role="dialog" aria-labelledby="pictureModalLabel" aria-hidden="true">
    <!--Centered large modal :-->
    <div class="@mDetCn" role="document">

        <!--Modal content :-->
        <div class="@mDetCt">

            <!--Close button only visible on small screen-->
            <button type="button" class="@btnDetailsCss @btnCloseSm" data-dismiss="modal">
                <text class="p-1 @textLight">
                    Fermer
                </text>
                <i class="fas fa-times-circle"></i>
            </button>

            <!--Modal header :-->
            <div class="@mDetHd text-light">

                <!--Modal title :-->
                <div class="@mDetTt @textLight" id="pictureModalLabel">

                    <!--Picture title :-->
                    <button type="button" class="@btnDetailsCss ml-0 titlPic">
                        <i class="fas fa-bookmark"></i>
                        <text class="p-1 @textLight" id="pictureTitle">
                            Picture title
                        </text>
                    </button>

                    <!--Picture id :-->
                    <div class="p-1 @textLight" id="pictureId" hidden>
                        Picture id
                    </div>

                    <!--Picture category :-->
                    <button type="button" class="@btnDetailsCss catPic">
                        <i class="fas fa-book-open"></i>
                        <text class="p-1 @textLight" id="pictureCategory">
                            Picture category
                        </text>
                    </button>
                </div>

                <!--Button infos :-->
                <button class="@btnDetailsCss exifsBlue mr-0" @btnExifsAttr>
                    <i class="fas fa-camera-retro"></i>
                    <text class="p-1 @textLight">
                        Exifs
                    </text>
                </button>

                <!--Button Group :-->
                <div class="btn-group mr-0" role="group">

                    <!--Button help :-->
                    <button class="@btnDetailsCss exifsGreen mr-0" @btnLegendAttr>
                        <i class="far fa-lightbulb"></i>
                        <text class="p-1 @textLight">
                            Aide
                        </text>
                    </button>

                    <!--Close button hidden on small screen-->
                    <button type="button" class="@btnDetailsCss @btnCloseMd" data-dismiss="modal">
                        <text class="p-1 @textLight">
                            Fermer
                        </text>
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>

            </div>

            <!--Modal body :-->
            <div class="@mDetBd">

                <!--Previous picture button :-->
                <button type="button" class="@btnDetailsCss prev greenify">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>

                <!--Display Picture :-->
                <img src="" alt="" title="" class="@imgDispCss" id="pictureDisplayed" />

                <!--Next picture button :-->
                <button type="button" class="@btnDetailsCss next greenify">
                    <i class="fas fa-arrow-circle-right"></i>
                </button>
            </div>

            <!--Picture description :-->
            <button type="button" class="@btnDetailsCss descPic mx-auto mt-2">
                <i class="fas fa-pen text-center"></i>
                <p class="text-center @textLight mt-2" id="pictureDescription">Picture description</p>
            </button>

            <!--Modal footer :-->
            <div class="@mDetFt">

                <!--Justify-content-between enables to set button position :-->
                <button type="button" class="@btnDetailsCss ml-0">

                    <!--Picture rating value :-->
                    <i class="far fa-heart"></i> 5

                    <!--Picture views number :-->
                    <i class="fas fa-bullseye"></i> 10
                </button>

                <!--Button Group :-->
                <div class="btn-group mr-0" role="group">

                    <!--Button edit :-->
                    <button type="button" class="@btnDetailsCss mr-0 editPicture greenify" title="@edPic">
                        <i class="fas fa-edit"></i>
                    </button>

                    <!--Button delete :-->
                    <button type="button" class="@btnDetailsCss mr-0 delete" data-toggle="modal" data-target="#deleteModal" title="@delPic">
                        <i class="far fa-trash-alt"></i>
                    </button>

                    <!--Button download :-->
                    <button type="button" class="@btnDetailsCss mr-0">
                        <i class="fas fa-download"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--*** PICTURE EXIFS DISPLAY ***-->
<div class="exifsData" id="popover-content" hidden>

    <!--Display Picture :-->
    <img src="" alt="" title="" class="mx-auto d-block displayPicture smallPic" />

    <ul class="justify-content-between">

        <!--*** A. Display main infos ***-->
        <!--Display camera make :-->
        <li class="mx-auto exifBrand"><i class="fas fa-industry"></i><span id="pictureCameraMake"></span></li>

        <!--Display camera model :-->
        <li class="mx-auto exifModel"><i class="fas fa-camera"></i><span id="pictureCameraModel"></span></li>

        <!--Display picture date time :-->
        <li class="mx-auto exifDate"><i class="far fa-calendar-alt"></i><span id="pictureOriginalDateTime"></span></li>

        <!--*** B. Display picture taking infos ***-->
        <!--Display picture aperture value :-->
        <li class="mx-auto exifOpen"><i class="fab fa-chrome"></i><span id="pictureApertureValue"></span></li>

        <!--Display picture exposure time :-->
        <li class="mx-auto exifExpos"><i class="far fa-clock"></i><span id="pictureExposureTime"></span></li>

        <!--Display picture speed ratings :-->
        <li class="mx-auto exifIsos"><i class="far fa-sun"></i><span id="pictureIsoSpeedRatings"></span></li>

        <!--Display picture focal length :-->
        <li class="mx-auto exifFocal"><i class="fab fa-periscope"></i><span id="pictureFocalLength"></span></li>

        <!--Display picture flash :-->
        <li class="mx-auto exifFlash"><span></span><i class="fas fa-bolt"></i><span id="pictureFlash"></span></li>

        <!--*** C. Display picture file infos ***-->
        <!--Display picture width x height :-->
        <li class="mx-auto exifDims"><i class="far fa-image"></i><span id="pictureDimensions"></span></li>

        <!--Display picture file size :-->
        <li class="mx-auto exifSize"><i class="fas fa-weight-hanging"></i><span id="pictureFileSize"></span></li>
    </ul>
</div>

<!--Display exifs help legend :-->
<div class="exifsGreenLegend" id="popover-content-legend" hidden>

    <ul class="justify-content-between">

        <!--*** A. Display main infos ***-->
        <!--Display camera make :-->
        <li class="mx-auto exifBrand"><i class="fas fa-industry"></i>&emsp;Marque de l'appareil</li>

        <!--Display camera model :-->
        <li class="mx-auto exifModel"><i class="fas fa-camera"></i>&emsp;Modèle de l'appareil</li>

        <!--Display picture date time :-->
        <li class="mx-auto exifDate"><i class="far fa-calendar-alt"></i>&emsp;Date prise de vue</li>

        <!--*** B. Display picture taking infos ***-->
        <!--Display picture aperture value :-->
        <li class="mx-auto exifOpen"><i class="fab fa-chrome"></i>&emsp;Ouverture</li>

        <!--Display picture exposure time :-->
        <li class="mx-auto exifExpos"><i class="far fa-clock"></i>&emsp;Temps d'exposition</li>

        <!--Display picture speed ratings :-->
        <li class="mx-auto exifIsos "><i class="far fa-sun"></i>&emsp;Sensiblité Iso</li>

        <!--Display picture focal length :-->
        <li class="mx-auto exifFocal"><i class="fab fa-periscope"></i>&emsp;Longueur focale</li>

        <!--Display picture flash :-->
        <li class="mx-auto exifFlash"><i class="fas fa-bolt"></i>&emsp;Utilisation flash</li>

        <!--*** C. Display picture file infos ***-->
        <!--Display picture width x height :-->
        <li class="mx-auto exifDims "><i class="far fa-image"></i>&emsp;Largeur x Hauteur</li>

        <!--Display picture file size :-->
        <li class="mx-auto exifSize"><i class="fas fa-weight-hanging"></i>&emsp;Taille de l'image</li>
    </ul>
</div>

<!--*** DELETE PICTURE FUNCTION ***-->
<!-- Delete picture modal -->
<div class="@mDelMn" id="deleteModal">

    <!-- Small centered modal -->
    <div class="@mDelCn">

        <!-- Modal Content -->
        <div class="@mDelCt">

            <!-- Modal Header -->
            <div class="@mDelHd">
                @delThis
            </div>

            <!-- Modal body -->
            <div class="@mDelBd">

                <!--Display Picture :-->
                <img src="" alt="" title="" class="@miniDel" />

                <!--Button Group :-->
                <div class="btn-group d-block" role="group">

                    <!--Delete button-->
                    <button type="button" class="@btnDetailsCss closing deletePicture ">
                        <text class="p-1 @textLight">
                            @delT
                        </text>
                        <i class="far fa-trash-alt"></i>
                    </button>

                    <!--Back button-->
                    <button type="button" class="@btnDetailsCss float-right greenify" data-dismiss="modal">
                        <text class="p-1 @textLight">
                            @backT
                        </text>
                        <i class="fas fa-backspace"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
