@model Modells.Models.picture
@using globalLabels = Modells.Models.pictureGlobalLabels;

@{
    ViewBag.Title = "pictureEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Class templates for the picture edit :
    var formGroupCss = "form-group d-flex mx-auto justify-content-center mb-0";
    var labelCss = "control-label col-4 btn recButton text-light text-center text-nowrap border border-light";
    var controlLabelCss = "control-label d-flex btn recButton border border-light col-2 justify-content-center align-items-center";
    var buttonToolAttr = "data-toggle = tooltip data-placement = bottom";
    var editCss = "form-control col-5 text-light border border-light was-validated currentInput";

    var btnAddCss = "d-flex btn recButton border border-light col-sm-6 col-md-2 col-lg-2 justify-content-center " +
                    "adding offset-md-1 offset-lg-1 formButton";

    var btnRemCss = "d-flex btn recButton border border-light col-sm-6 col-md-2 col-lg-2 justify-content-center " +
                    "removing offset-md-2 offset-lg-2 resetForm formButton";

    var previewCss = "col-sm-12 col-md-5 col-lg-5 m-2";
    var formCss = "col-sm-12 col-md-6 col-lg-6 m-3 p-2 specialFormBorderLine";
    var addBtnCss = "d-block btn col-6 my-3 recButton border-light removeFocus";

    var menuBtnCss = "d-flex justify-content-center col-sm-12 my-3";
    var ctCss = "container-fluid d-flex";
    var rowCss = "row mx-auto align-items-center";
    var previewImgCss = "card-img img-thumbnail m-3 mx-auto";
    var formEditCss = "form-horizontal form-control m-1";


    // Class templates for error message display :
    var errorCss = "control-label col-11 btn recButton d-flex mx-auto mb text-center mb-3 text-wrap";

    // Global labels & titles :

    var upPic = globalLabels.UpPicture;
    var resetFm = globalLabels.ResetForm;
    var previewImgTtl = globalLabels.PreviewImgMTitle;
    var previewImgAlt = globalLabels.PreviewImgATitle;


    // Action Links :
    var urlToColl = Url.Action("pictureCollection", "Pictures");

    // Picture source file directory url :
    var pictureSourceToUpdate = Modells.Models.pictureControls.pictureFileDirectory + Html.Display("pictureStandardUrl").ToString();

    @functions
    {
        // Display error messages for each property in a popover :
        string displayErrorMessage(string pictureItem)
        {
            var modelStateErrors = string.Join(" - ", ViewData.ModelState
                .Where(mdlState => mdlState.Key == pictureItem)
                .Where(errorsNb => errorsNb.Value.Errors.Count > 0)
                .SelectMany(errorItems => errorItems.Value.Errors)
                .Select(errorValue => errorValue.ErrorMessage)
                .ToList());

            return modelStateErrors;
        }

        // Display error message after submitting form :
        string displayErrorCss(string pictureError)
        {
            string showError = "hiddenErrorMessage";

            if (IsPost)
            {
                showError = (string.IsNullOrEmpty(pictureError)) ? "hiddenErrorMessage" : "visibleErrorMessage";
            }
            return showError;
        }
    }
}

@section Scripts
{
    <!--Add actions url for ajax calls :-->
    <script type="text/javascript">
    var urlPictureEdit = '@Url.Action("pictureEdit", "Pictures")';
    </script>

    <!--Load scripts file :-->
    @Scripts.Render("~/Scripts/script.js");

}
<div class="@ctCss">
    <div class="@rowCss">

        <!--Display choosen picture to create :-->
        <div class="@previewCss specialPictureBorderLine">
            <img id="pictureChoice" src="@pictureSourceToUpdate" alt="@previewImgAlt" title="@previewImgTtl" class="@previewImgCss" />
        </div>

        <!--Display the form to add a picture :-->
        <div class="@formCss">

            <!--Button to add a picture :-->
            <button class="@addBtnCss offset-4">
                <i class="fas fa-edit"></i>
                <text class="p-2 text-light text-nowrap">
                    Mettre à jour image
                </text>
            </button>

            @using (Html.BeginForm("pictureEdit", "Pictures", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                // Diplay the picture creation form :
                <form class="@formEditCss">

                    <!--Hidden Id / Src to enable savings :-->
                    @Html.HiddenFor(model => model.pictureId)
                    @Html.HiddenFor(model => model.pictureStandardUrl)

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!--Input of picture title :-->
                    <div class="@formGroupCss">
                        @Html.LabelFor(model => model.pictureTitle, new { @class = @labelCss })
                        <!--Edit-->
                        @Html.EditorFor(model => model.pictureTitle,
                        new { htmlAttributes = new { @class = @editCss,
                                                     @onfocus = "clearCss(this)",
                                                     @onblur = "isValid(this)", @autocomplete = "off" } })
                        <!--Label-->
                        <label class="@controlLabelCss text-light">
                            <i class="fas fa-bookmark"></i>
                        </label>
                    </div>

                    <!--Display error for picture title :-->
                    <div class="@errorCss @displayErrorCss(@displayErrorMessage("pictureTitle"))">
                        !   @displayErrorMessage("pictureTitle")
                    </div>

                    <!--Input of picture alternative title :-->
                    <div class="@formGroupCss">
                        @Html.LabelFor(model => model.pictureAlternateTitle, new { @class = @labelCss })
                        <!--Edit-->
                        @Html.EditorFor(model => model.pictureAlternateTitle,
                        new { htmlAttributes = new { @class = @editCss,
                                                     @onfocus = "clearCss(this)",
                                                     @onblur = "isValid(this)",
                                                     @autocomplete = "off" } })
                        <!--Label-->
                        <label class="@controlLabelCss">
                            <i class="far fa-bookmark"></i>
                        </label>
                    </div>

                    <!--Display error for alt. picture title :-->
                    <div class="@errorCss @displayErrorCss(@displayErrorMessage("pictureAlternateTitle"))">
                        !   @displayErrorMessage("pictureAlternateTitle")
                    </div>

                    <!--Input of picture description :-->
                    <div class="@formGroupCss">
                        @Html.LabelFor(model => model.pictureDescription, new { @class = @labelCss })
                        <!--Edit-->
                        @Html.EditorFor(model => model.pictureDescription,
                        new { htmlAttributes = new { @class = @editCss,
                                                     @onfocus = "clearCss(this)",
                                                     @onblur = "isValid(this)",
                                                     @autocomplete = "off" } })
                        <!--Label-->
                        <label class="@controlLabelCss">
                            <i class="fas fa-pen"></i>
                        </label>
                    </div>

                    <!--Display error for picture description :-->
                    <div class="@errorCss @displayErrorCss(@displayErrorMessage("pictureDescription"))">
                        !   @displayErrorMessage("pictureDescription")
                    </div>

                    <!--Input of picture category :-->
                    <div class="@formGroupCss">
                        @Html.LabelFor(model => model.categoryId, "Catégorie", new { @class = @labelCss })
                        @Html.DropDownList("categoryId", null, new { @class = @editCss,
                                                                     @onfocus = "clearCss(this)",
                                                                     @onchange = "isValid(this)" })
                        <!--Label-->
                        <label class="@controlLabelCss">
                            <i class="fas fa-book-open"></i>
                        </label>
                    </div>

                    <!--Back - Clear Submit buttons :-->
                    <div class="@menuBtnCss">

                        <!--Clear button :-->
                        <button class="@btnRemCss" value="Reset" @buttonToolAttr title=@resetFm>
                            <i class="fas fa-redo"></i>
                        </button>

                        <!--Submit button :-->
                        <button class="@btnAddCss" type="submit" value="pictureCreate" id="submitPicture" @buttonToolAttr title=@upPic>
                            <i class="fas fa-check-circle"></i>
                        </button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<!--Top button :-->
<button class="btn removeFocus" onclick="topFunction()" id="topButton">
    <i class="fas fa-arrow-alt-circle-up"></i>
</button>