@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Class template for the column :
    var colcss = "col-md-3 p-2 bg-transparent d-flex align-items-center justify-content-center";

    // Class template for the picture :
    var imgCss = "card-img img-fluid img-thumbnail d-block mx-auto";

    var pagBtn = "btn text-light rounded rounded-circle m-2 removeFocus";

    var pagBtnList = "btn text-light rounded rounded-pill m-2 removeFocus";

    // Total pictures to display :
    var totalPictures = ViewBag.totalPictures;

    var totalPages = ViewBag.totalPages;

    var currentPage = ViewBag.CurrentPage;

    var prevPage = (currentPage == 0) ? currentPage : (currentPage - 1);

    var nextPage = (currentPage == totalPages) ? currentPage : (currentPage + 1);

    // Table of pictures to display :
    var pictureElements = ViewData["pictureElements"] as string[,];

    @functions{

        string RedirectToPage(int pageNumber)
        {
            string urlPicturePage;

            IDictionary<string, object> routeValues = new Dictionary<string, object>();

            routeValues.Add("pageToDisplay", pageNumber);

            return urlPicturePage = Url.Action("pictureCollection", new RouteValueDictionary(routeValues));

        }

    }

    var toto = true;
}

@section Scripts
{
    <!--Add actions url for ajax calls :-->
    <script type="text/javascript">
    var urlPictureEdit = '@Url.Action("pictureEdit", "Pictures")';
    var urlPictureExifs = '@Url.Action("GetExifs", "Pictures")';
    var urlPictureError = '@Url.Action("pictureError", "Pictures")';
    var urlPictureDelete = '@Url.Action("pictureDelete", "Pictures")';
    var urlPictureDelConf = '@Url.Action("DeleteConfirmed", "Pictures")';
    var urlPictureDeleteOk = '@Url.Action("pictureDeleteOk", "Pictures")';
    </script>

    <!--Load pictureCollection script :-->
    <script src="~/Scripts/pictureCollection.js"></script>
}

<!--One fluid container of 2 rows & 4 columns :-->
<div class="container-fluid bg-transparent p-4 d-table-cell">
    <!--First row of 4 pictures :-->
    <div class="row p-2">
        <!--1st column :-->
        <div class="@colcss">
            <div class="card">
                <!--Picture source, title & alternative title :-->
                <img src="@pictureElements[0,0]" alt="@pictureElements[0,2]" title="@pictureElements[0,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[0, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[0, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[0, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[0, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--2nd column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[1,0]" alt="@pictureElements[1,2]" title="@pictureElements[1,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[1, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[1, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[1, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[1, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--3rd column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[2,0]" alt="@pictureElements[2,2]" title="@pictureElements[2,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[2, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[2, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[2, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[2, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--4th column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[3,0]" alt="@pictureElements[3,2]" title="@pictureElements[3,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[3, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[3, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[3, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[3, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Second row of 4 pictures :-->
    <div class="row p-2">
        <!--1st column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[4,0]" alt="@pictureElements[4,2]" title="@pictureElements[4,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[4, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[4, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[4, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[4, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--2nd column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[5,0]" alt="@pictureElements[5,2]" title="@pictureElements[5,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[5, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[5, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[5, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[5, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--3rd column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[6,0]" alt="@pictureElements[6,2]" title="@pictureElements[6,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[6, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[6, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[6, 3]
                        </div>
                        <!--Picture id :-->
                        <div class="pictureId" hidden>
                            @pictureElements[6, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--4th column :-->
        <div class="@colcss">
            <div class="card">
                <img src="@pictureElements[7,0]" alt="@pictureElements[7,2]" title="@pictureElements[7,1]" class="@imgCss" />
                <div class="card-img-overlay">
                    <div class="justify-content-between d-flex">
                        <!--Picture title :-->
                        <div class="card-title text-left pictureTitle">
                            @pictureElements[7, 1]
                        </div>
                        <!--Picture category :-->
                        <div class="card-title text-right pictureCategory">
                            @pictureElements[7, 4]
                        </div>
                        <!--Picture description :-->
                        <div class="pictureDescription" hidden>
                            @pictureElements[7, 3]
                        </div>
                        <!--Picture id-->
                        <div class="pictureId" hidden>
                            @pictureElements[7, 5]
                        </div>
                    </div>
                    <!--Picture ratings :-->
                    <button type="button" class="btn text-light ratings">
                        <i class="far fa-heart"></i> 5
                        <i class="fas fa-bullseye"></i> 10
                    </button>
                    <!--Show picture details :-->
                    <button class="btn details" data-toggle="modal" data-target="#showPictureDetails">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Loading the partial view to display the modal :-->
@Html.Partial("~/Views/pictures/pictureDetails.cshtml")


@Html.DropDownList("pageList", new SelectList(ViewBag.listOfPages, "Text", "Value"), "Page n° : ", new {@class=pagBtnList ,onchange = "GoToPage(this)" }))

<!--Enable Pagination :-->
<div class="text-center align-items-center">

    <!--Previous page button :-->
    <button type="button" class="@pagBtn" onclick="location.href='@RedirectToPage(prevPage)'">
        &#11164;
    </button>

    @for (int page = 1; page <= totalPages; page++)
    {
        <button type="button" class="@pagBtn" onclick="location.href='@RedirectToPage(page)'">
            @page
        </button>
    }

    <!--Next page button :-->
    <button type="button" class="@pagBtn" onclick="location.href='@RedirectToPage(nextPage)'">
        &#11166;
    </button>

</div>

<!--Top button :-->
<button class="btn removeFocus" onclick="topFunction()" id="topButton">
    <i class="fas fa-arrow-alt-circle-up"></i>
</button>


<script>
    function GoToPage(selectedPage)
    {
        window.location.href='/Pictures/pictureCollection?pageToDisplay='+ selectedPage.value;
    }
</script>