@using globalLabels = Modells.Models.pictureGlobalLabels;
@{
    ViewBag.Title = "pictureHome";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Css Templates :
    var carI = "carousel-item";
    var carM = "carouselModells";
    var carC = "carousel-caption";
    var imgC = "d-block w-100";

    // Global labels & titles :

    var sl1A = globalLabels.FirstSlide;
    var sl2A = globalLabels.SecondSlide;
    var sl3A = globalLabels.ThirdSlide;


    // Src Url :
    var sl1U = globalLabels.CarFirstSlide;
    var sl2U = globalLabels.CarSecondSlide;
    var sl3U = globalLabels.CarThirdSlide;

}

<!--Carousel of 3 slides, with tabs & fade effect :-->
<div id="@carM" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Carousel tabs :-->
    <ol class="carousel-indicators">
        <li data-target="#@carM" data-slide-to="0" class="d-none d-md-block active ind1"></li>
        <li data-target="#@carM" data-slide-to="1" class="d-none d-md-block ind2"></li>
        <li data-target="#@carM" data-slide-to="2" class="d-none d-md-block ind3"></li>
    </ol>

    <!--Carousel :-->
    <div class="carousel-inner">

        <!--First Slide :-->
        <div class="@carI active" href="#@carM" data-interval="10000">

            <div class="@carC carUp carb1">
                <h1><span class="car1 p-1">&nbsp; Bienvenue sur Modells &nbsp;</span></h1>
                <h2><span class="car1 p-1">&nbsp; Conçu pour les passionnés de photographie &nbsp;</span></h2>
            </div>
            
            <img src="@sl1U" class="@imgC" alt="@sl1A">
            
            <div class="@carC d-none d-md-block">
                <h1><span class="carDown1">&nbsp; Le Havre &nbsp;</span></h1>
                <p><span class="carDown1">&nbsp; Catène des 500 ans &nbsp;</span></p>
            </div>
        
        </div>

        <!--Second Slide :-->
        <div class="@carI" href="#@carM" data-interval="10000">

            <div class="@carC carUp carb2">
                <h1><span class="car2 p-1">&nbsp; Mise en ligne des photos &nbsp;</span></h1>
                <h2><span class="car2 p-1">&nbsp; Adaptée à tous les supports &nbsp;</span></h2>
            </div>
            
            <img src="@sl2U" class="@imgC" alt="@sl2A">
            
            <div class="@carC d-none d-md-block">
                <h1><span class="carDown2">&nbsp; Lanzarote &nbsp;</span></h1>
                <p><span class="carDown2">&nbsp; Plage de Papagyo &nbsp;</span></p>
            </div>
        </div>

        <!--Third Slide :-->
        <div class="@carI" href="#@carM" data-interval="10000">

            <div class="@carC carUp carb3">
                <h1><span class="car3 p-1">&nbsp; Galerie photos sous forme de collection &nbsp;</span></h1>
                <h2 class="car3 p-1"><span>&nbsp; Affichage des métadonnées Exifs &nbsp;</span></h2>
            </div>

            <img src="@sl3U" class="@imgC" alt="@sl3A">
            <div class="@carC d-none d-md-block">
                <h1><span class="carDown3">&nbsp; Fuenteventura &nbsp;</span></h1>
                <p><span class="carDown3">&nbsp; Mer et surfeur &nbsp;</span></p>
            </div>
        </div>
    </div>
</div>